h1{
    text-align: center;

}
.golfinhos{
    border:10px solid gray;
    padding: 30px;
    text-align: center;
    font-size: 23px;
}


h2{color: black;}

img src="https://images.pexels.com/photos/3354346/pexels-photo-3354346.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"{textarea: 2;}

